
.container{
   width: 1200px;
 

}
.count9{
    width: 50%;
    color: white;
}
.count_right{
    width: 50%;
    color: white;
}
.one_text4{
    display: flex;
    gap: 11px;
}
.p_left{
    width: 50%;
    border-bottom: 1px solid #F2F2F2;
}
.p_right{
    width: 50%;
    border-bottom: 1px solid #F2F2F2;
}


.count_left_2{
    width: 50%;
    color: white;
}
.count_right_2{
    width: 50%;
    color: white;
}
.two_text5{
    display: flex;
    gap: 11px;
}
.p5{
    width: 50%;
    border-bottom: 1px solid #F2F2F2;
}
.p4{
    width: 100%;
    border-bottom: 1px solid #F2F2F2;
}
.count_left_3{
    width: 100%;
    color: white;
}
.coun3{
width:  100%;
    color: white;
}
.threep{
    display: flex;
    gap: 11px;   
}
.pleft3{
    width: 100%;
    border-bottom: 1px solid #F2F2F2;
}
.p3{
    width: 100%;
    border-bottom: 1px solid #F2F2F2;
}
.fourp{
    display: flex;
    gap: 11px;   
}
.pleft4{
    width: 100%;
    border-bottom: 1px solid #F2F2F2;
}

.count1{
margin: 40px;
  
}
.box1{
    display: flex;
    background-color: #000;
    color: white;
    padding: 33px;
    
}
footer{
max-width: 1440px;
margin: 0 auto;
background-color: #e0e1e9;
}

@media (min-width:0) and (max-width:361px){
    footer{
        width: 170%;
    }
    .foot{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media (min-width:361.1px) and (max-width:1440px){
    footer{
         width: 800%;
    }
}
.logo{
    display: flex;
    gap: 40px;
}

.foot{
   
    display: flex;
    gap: 80px;
    padding-top: 65px;
   padding-bottom: 65px;
   margin: 65px 80px;
   
    
}
.foot1 .img1{
  display: flex; 
  gap: 8px; 
  align-items: center;
  margin-bottom: 20px;
  
}
.p1{
    width: 371px;
    margin-bottom: 33px;
}
.p1 p{
    color: #383838;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.img2{
    display: flex;
    gap: 20px;
}
.foot1 h1{
    color: #1341EC;
   font-family: Syne;
   font-size: 26.438px;
   font-style: normal;
   font-weight: 700;
   line-height: 150%;
   text-transform: capitalize;

}
span{
    color: black;
}
.foot2 ul li a{
    text-decoration: none;
    color: black;
    color: #0E0F1D;
   font-family: Rubik;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   
}
.foot2 ul li{
    list-style: none;
    padding-top: 30px;
}
.foot2 h3{
    color: #383838;
font-family: Rubik;
font-size: 18px;
}
.foot3 ul li a{
    text-decoration: none;
    color: black;
    color: #0E0F1D;
font-family: Rubik;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
   
}
.foot3 ul li{
    list-style: none;
    padding-top: 30px;
}
.foot3 h3{
    color: #383838;
font-family: Rubik;
font-size: 18px;
}
.foot3 ul li{
    display: flex;
    align-items: center;
    gap: 6px;
}
.foot4 h3{
    padding-bottom: 30px;
}