*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}
.cont{
    width: 1440px;
    padding: 64px 96px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
}
h2{
    color: var(--grey-1, #000);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.rail{
    width: 818px;
    height: 427px;
}
.img{
    display: flex;
    padding-top: 58px;
    gap: 20px;
    position: relative;
    margin-bottom: 38px;
} 
.rail1{
    position: absolute;
    bottom: -250px;
    left: 129px;
    color: #fff;

    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
}
.images{
    position: relative;
    display: flex;
    gap: 18px;
    margin-bottom: 38px;

ul {
  list-style: none;
}
.pictures{
    display: flex;
    gap: 20px;
}
.surface{
    position: absolute;
    bottom: -710px;
    left: 129px;
    color: #fff;

    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
}
.cold{
    position: absolute;
    bottom: -1195px;
    left: 129px;
    color: #fff;

    font-size: 32px;
    font-style: normal;
    font-weight: 550;
    line-height: 48px;
}
}
